@use '@/styles/breakpoints.scss';

.articlesAccepted {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @media (max-width: breakpoints.$sm) {
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      margin-bottom: 20px;
    }

    &-text {
      width: 320px;
    }

    &-count {
      color: var(--grey);
      font-size: 21px;
      font-weight: 300;

      @media (max-width: breakpoints.$sm) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        flex: 1;
      }

      &-filtersMobile {
        display: none;

        @media (max-width: breakpoints.$sm) {
          color: var(--primary);
          display: flex;
          align-items: center;
          font-size: 20px;
          font-weight: bold;
        }

        &-tile {
          @media (max-width: breakpoints.$sm) {
            display: flex;
            gap: 4px;
            font-size: 14px;
            padding-bottom: 4px;
            border-bottom: 1px solid var(--primary);
            cursor: pointer;
          }
        }
      }
    }
  }

  &-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 15px 325px;
    padding-bottom: 30px;
    border-bottom: 1px solid var(--primary);

    @media (max-width: breakpoints.$sm) {
      gap: 25px;
      padding-bottom: 0px;
      border-bottom: 0px;
      margin-left: 0px;
      margin-bottom: 20px;
    }

    &-tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;

      &-clear {
        height: 32px;
        align-content: center;
        font-size: 14px;
        color: var(--primary);
        text-decoration: underline;
        cursor: pointer;

        @media (max-width: breakpoints.$sm) {
          display: none;
        }
      }
    }

    &-abstracts {
      color: var(--primary);
      font-size: 16px;
      font-weight: bold;
      margin-left: auto;
      text-decoration: underline;
      cursor: pointer;

      @media (max-width: breakpoints.$sm) {
        display: none;
      }

      &-mobile {
        display: none;

        @media (max-width: breakpoints.$sm) {
          display: block;
          margin-left: 0px;
          margin-bottom: 40px;
          font-weight: normal;
          font-style: italic;
        }
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    &-results {
      display: flex;
      margin-bottom: 150px;

      &-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 60px;

        @media (max-width: breakpoints.$sm) {
          padding-left: 0px;
        }
      }
    }
  }
}
