.volumeDetailsMobileModal {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 100%;
  background: var(--white);
  z-index: 3;
  display: flex;
  flex-direction: column;
  color: var(--grey-dark);

  &-title {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px 12px 16px;
    border-bottom: 1px solid var(--primary);
    font-size: 18px;
    color: var(--primary);

    &-close {
      width: 12px;
      cursor: pointer;
    }
  }

  &-relatedVolumes {
    padding: 20px 16px 20px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    max-height: 180px;
    margin: 10px 0px 20px 0px;
    cursor: pointer;

    &-volume {
      font-size: 16px;
      color: var(--grey-light);

      &-current {
        color: var(--grey-dark);
        text-decoration: underline;
        cursor: default;
        pointer-events: none;
      }
    }
  }

  &-submit {
    position: fixed;
    bottom: 12px;
    left: 16px;
    right: 16px;

    .button {
      width: 100%;
      height: 40px;
    }
  }
}
