@use '@/styles/breakpoints.scss';

.newsSection {
  display: flex;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--grey);
  border-bottom: 4px solid var(--primary-border);

  @media (max-width: breakpoints.$xsm) {
    flex-direction: column;
  }

  &-row {
    min-width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    @media (max-width: breakpoints.$sm) {
      min-width: unset;
      max-width: unset;
    }

    &-title {
      width: 375px;
      font-size: 16px;
      font-weight: 600;

      @media (max-width: breakpoints.$sm) {
        width: 320px;
      }
    }

    &-publicationDate {
      color: var(--grey-light);
      font-size: 12px;
      font-style: italic;
      margin-top: auto;
    }
  }

  &-divider {
    border-right: 2px solid var(--primary-border);

    @media (max-width: breakpoints.$xsm) {
      display: none;
    }
  }
}
