@use '@/styles/breakpoints.scss';

.pieChart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
  height: 100%;

  @media (max-width: breakpoints.$sm) {
    margin-top: 10px;
  }

  .recharts-responsive-container {
    width: 140px !important;
    height: 140px !important;

    .recharts-wrapper {
      pointer-events: none;
    }
  }

  &-legend {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: start;
    font-size: 12px;

    &-rows {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &-row {
        display: flex;
        align-items: center;
        gap: 12px;

        &-square {
          width: 12px;
          height: 12px;
        }
      }
    }

    &-category {
      font-style: italic;
      padding-bottom: 5px;
      border-bottom: 1px solid var(--grey-light);
    }
  }
}
