@use "@/styles/breakpoints.scss";

.sectionDetailsSidebar {
  min-width: 265px;

  @media (max-width: breakpoints.$sm) {
    min-width: 215px;
  }

  @media (max-width: breakpoints.$xsm) {
    display: flex;
    gap: 16px;
    align-items: flex-end;
    border-bottom: 1px solid var(--grey-light);
  }

  &-info {
    margin-bottom: 25px;

    &-type {
      font-size: 18px;
      font-weight: 600;
      color: var(--primary);
      margin-bottom: 12px;
      text-transform: capitalize;
    }

    &-count {
      font-size: 21px;
      font-weight: 300;
      color: var(--text-color);

      @media (max-width: breakpoints.$xsm) {
        display: none;
      }
    }
  }
} 