@use "@/styles/breakpoints.scss";
.sectionDetailsSidebar {
  min-width: 265px;

  @media (max-width:  breakpoints.$sm) {
    min-width: 215px;
  }

  @media (max-width:  breakpoints.$xsm) {
    min-width: auto;
  }

  &-count {
    font-size: 21px;
    font-weight: 300;

    @media (max-width:  breakpoints.$xsm) {
      margin-bottom: 16px;
    }
  }
} 