@use '@/styles/breakpoints.scss' as breakpoints;

.home {
  &-title {
    margin: 55px 0px 40px 0px;

    @media (max-width: breakpoints.$xsm) {
      margin-top: 0px;
    }
  }

  &-subtitle {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 40px 0px 25px 0px;

    @media (max-width: breakpoints.$xsm) {
      justify-content: space-between;
    }

    &-all {
      display: flex;
      gap: 8px;
      align-items: center;
      color: var(--grey);
      font-size: 20px;
      font-style: italic;

      img {
        height: 14px;
        margin-top: 3px;
      }

      @media (max-width: breakpoints.$xsm) {
        font-size: 16px;
      }
    }
  }
}
