:root {
  --primary: var(--journal-primary-color);
  --primary-text: var(--journal-primary-text-color);
  --grey: #757575;
  --grey-light: #717193;
  --grey-dark: #4e4e5f;
  --grey-darker: #363642;
  --white: #ffffff;
  --black: #000000;
  --black-shadow: #0000001f;
  --blue-navy: #04005f;
  --blue-navy-dark: #00005e;

  /* Journal specific variables - will be overridden by env variables */
  --journal-primary-color: #7a020d;
  --journal-primary-text-color: #ffffff;
}
