@use '@/styles/breakpoints.scss';

.breadcrumb {
  margin: 23px 0px 25px 0px;
  font-size: 12px;

  @media (max-width: breakpoints.$xsm) {
    display: none;
  }

  ol {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    display: inline;

    &:not(:last-child)::after {
      content: ' ';
      margin: 0 0.25rem;
    }
  }

  &-parent {
    color: var(--grey-light);
  }

  &-current {
    color: var(--blue-navy);
    font-weight: bold;
  }
}
