@use "@/styles/breakpoints.scss";

.breadcrumb {
  margin: 23px 0px 25px 0px;
  font-size: 12px;

  @media (max-width: breakpoints.$xsm) {
    display: none;
  }

  &-parent {
    color: var(--grey-light);
  }

  &-current {
    color: var(--blue-navy);
    font-weight: bold;
  }
} 