.volumesModal {
  display: flex;
  gap: 40px;
  min-width: 420px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
  border-top: 2px solid var(--primary-border);
  padding: 24px;

  &-typesSection-title,
  &-yearsSection-title {
    font-weight: bold;
    border-bottom: 1px solid var(--grey-light);
    padding-bottom: 8px;
  }

  &-typesSection {
    &-title {
      padding-right: 60px;
    }

    &-types {
      padding: 20px 0px 20px 0px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-choice {
        display: flex;
        gap: 18px;

        &-label {
          cursor: pointer;

          &-checked {
            color: var(--black);
          }
        }
      }
    }
  }

  &-yearsSection {
    flex: 1;

    &-years {
      height: 180px;
      padding: 20px 0px 20px 0px;

      &-list {
        height: 100%;
        overflow-y: scroll;

        &-year {
          margin-bottom: 10px;
          color: var(--grey);
          cursor: pointer;

          &-selected {
            color: var(--black);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
