@use '@/styles/breakpoints.scss' as breakpoints;

.about {
  &-title {
    margin-bottom: 70px;

    @media (max-width: breakpoints.$sm) {
      margin-bottom: 30px;
    }
  }

  &-language-notice {
    border-left: 4px solid var(--primary);
    background-color: var(--primary-background, #f5f5f5);
    padding: 12px 16px;
    margin-bottom: 24px;
    font-style: italic;
    color: var(--primary-text);
  }

  &-content {
    display: flex;

    &-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 60px;

      @media (max-width: breakpoints.$sm) {
        padding-left: 0px;
      }

      &-section {
        display: block;

        &-hidden {
          > :not(.about-content-body-section-subtitle) {
            display: none;
          }
        }

        h2,
        h3 {
          scroll-margin: 120px;
        }

        h3,
        h4 {
          margin: 0;
        }

        h4 {
          margin-top: 16px;
        }

        p {
          margin: 16px 0px 16px 0px;
        }

        img {
          width: 100%;
        }

        &-subtitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 15px 8px 0px;
          margin: 20px 0px 20px 0px;
          border-bottom: 1px solid var(--primary-border);
          cursor: pointer;

          img,
          &-caret {
            width: auto;
          }

          &-text,
          &-caret {
            display: block;
          }
        }

        &-link {
          text-decoration: underline;
        }
      }
    }
  }
}
