@use '@/styles/breakpoints.scss';

.volumeDetailsMobile {
  &-id {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-relatedList {
      display: flex;
      align-items: center;
      gap: 6px;
      color: var(--grey);
      font-weight: normal;
      font-size: 16px;
      cursor: pointer;

      &-icon {
        margin-top: 4px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    &-year {
      color: var(--primary);
      font-size: 14px;
      margin-bottom: 15px;
    }

    &-results {
      display: flex;
      flex-direction: column;

      &-content {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-title {
          display: block;
          font-size: 18px;
          color: var(--primary);
        }

        &-committee {
          display: block;
          font-size: 16px;
          color: var(--grey-dark);

          &-note {
            margin-right: 5px;
          }
        }

        &-proceedingSettings {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-top: 16px;
          margin-bottom: 8px;

          &-setting {
            color: var(--grey);
            font-size: 13px;

            &-doi {
              text-decoration: underline;
            }
          }
        }

        &-description {
          color: var(--grey-dark);
          font-size: 16px;
          margin-bottom: 20px;

          p {
            margin: 16px 0px 16px 0px;
          }

          &-toggleMobile {
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--grey-light);
            font-style: italic;
          }
        }

        &-mobileCount {
          display: block;
          font-size: 18px;
          color: var(--grey);
          border-bottom: 1px solid var(--grey-light);
          padding-bottom: 8px;
          margin: 8px 0px 16px 0px;
        }

        &-edito {
          display: flex;
          flex-direction: column;
          padding: 25px;
          margin-bottom: 16px;
          border: 1px solid var(--grey);
          border-bottom: 4px solid var(--primary);

          &-title {
            color: var(--black);
            font-size: 21px;
            font-weight: 600;
            margin-bottom: 8px;
          }

          &-content {
            font-size: 16px;
            margin-bottom: 40px;
          }

          &-anchor {
            display: flex;
            justify-content: space-between;

            &-publicationDate {
              color: var(--grey-light);
              font-size: 14px;
              font-style: italic;
            }

            &-icons {
              &-download {
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex: 1;
                gap: 8px;
                color: var(--primary);
                font-size: 13px;
              }
            }
          }
        }

        &-cards {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 16px;
        }
      }
    }
  }
}
