@use '@/styles/breakpoints.scss';

.statisticsSidebar {
  min-width: 265px;
  font-size: 16px;
  margin-top: 8px;

  @media (max-width: breakpoints.$sm) {
    min-width: 215px;
    margin-top: 0px;
  }

  @media (max-width: breakpoints.$xsm) {
    display: none;
  }

  &-title {
    font-weight: bold;
    border-bottom: 1px solid var(--grey-light);
    padding-bottom: 8px;
  }

  &-years {
    max-height: 180px;
    padding: 20px 0px 20px 0px;
    border-bottom: 1px solid var(--grey-light);

    &-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      max-height: 180px;
      overflow-y: scroll;
      margin-bottom: 10px;
      color: var(--grey);
      cursor: pointer;

      &-choice {
        display: flex;
        gap: 18px;

        &-label {
          cursor: pointer;

          &-checked {
            color: var(--black);
          }
        }
      }
    }
  }
}
