@use "@/styles/breakpoints.scss" as breakpoints;
.volumes {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @media (max-width:  breakpoints.$xsm) {
      justify-content: space-between;
      width: 100%;
    }

    &-text {
      min-width: 265px;

      @media (max-width:  breakpoints.$sm) {
        min-width: 275px;
      }

      @media (max-width:  breakpoints.$xsm) {
        min-width: auto;
      }
    }

    &-count {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 60px;

      @media (max-width:  breakpoints.$sm) {
        padding-left: 0px;
      }

      &-text {
        color: var(--grey);
        font-size: 21px;
        font-weight: 300;

        @media (max-width:  breakpoints.$xsm) {
          font-size: 16px;
        }

        &-tiles {
          margin: 15px 0px 15px 0px;

          @media (max-width:  breakpoints.$xsm) {
            margin: 0px;
          }
        }

        &-volumes {
          padding-right: 10px;
          border-right: 1px solid var(--grey-light);
        }

        &-articles {
          padding-left: 10px;
        }
      }

      &-wrapper {
        display: flex;

        @media (max-width:  breakpoints.$xsm) {
          display: none;
        }
      }

      &-icons {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 30px;

        @media (max-width:  breakpoints.$xsm) {
          width: 100%;
          justify-content: flex-end;
          gap: 20px;
        }
  
        &-icon {
          cursor: pointer;
  
          &-row, &-row-red {
            display: flex;
            justify-content: space-between;
            gap: 10px;
          }
  
          &-row {
            color: var(--grey);
            
            &-red {
              color: var(--primary);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  &-filters {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 15px 325px;
    padding-bottom: 28px;

    @media (max-width:  breakpoints.$sm) {
      margin-left: 275px;
    }

    @media (max-width:  breakpoints.$xsm) {
      display: none;
    }

    &-tiles {
      margin: 0px 0px 15px 0px;
    }

    &-tags {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 12px;

      &-clear {
        height: 32px;
        align-content: center;
        font-size: 14px;
        color: var(--primary);
        text-decoration: underline;
        cursor: pointer;
      }

      &-filterTile {
        display: flex;
        gap: 4px;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--primary);
        margin-top: 17px;
        cursor: pointer;

        &-text {
          color: var(--primary);
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    &-modal {
      position: absolute;
      top: 40px;
      left: 0;
      background: var(--white);
    }
  }

  &-filtersMobile {
    display: none;

    @media (max-width:  breakpoints.$xsm) {
      color: var(--primary);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 14px;
      font-weight: bold;
      margin: 28px 0px 20px 0px;
    }

    &-count {
      display: flex;
    }

    &-tile {
      @media (max-width:  breakpoints.$xsm) {
        display: flex;
        gap: 4px;
        font-size: 14px;
        padding-bottom: 4px;
        border-bottom: 1px solid var(--primary);
        cursor: pointer;
      }
    }

    &-tags {
      display: none;

      @media (max-width:  breakpoints.$xsm) {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 20px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    &-results {
      display: flex;
      margin-bottom: 150px;

      &-cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-left: 60px;

        @media (max-width:  breakpoints.$xsm) {
          padding-left: 0px;
        }

        &-tiles {
          display: grid;
          gap: 15px;
          grid-template-columns: repeat(3, 1fr);
          padding-left: 0px;

          @media (max-width:  breakpoints.$sm) {
            grid-template-columns: repeat(2, 1fr);
          }

          @media (max-width:  breakpoints.$xsm) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
      }
    }
  }
} 