@use '@/styles/breakpoints.scss';

.boardCard {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 1px solid var(--grey);
  border-bottom: 4px solid var(--primary);
  cursor: pointer;

  &-blur {
    opacity: 0.2;
  }

  &-person,
  &-full-initial-person {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;

    &-title {
      display: flex;
      flex-direction: column;
      color: var(--primary);
      font-size: 16px;

      &-name {
        font-weight: bold;
        display: flex;
        gap: 10px;
      }

      &-role {
        color: var(--black);
      }
    }

    &-picture {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 64px;
      max-width: 64px;
      min-height: 64px;
      max-height: 64px;
      background: var(--primary);
      border-radius: 50%;
      overflow: hidden;

      &-placeholder {
        width: 44px;
        height: 40px;
      }
    }
  }

  &-affiliations,
  &-full-initial-affiliations {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &-assignedSections,
  &-full-initial-assignedSections {
    font-size: 12px;
    color: var(--grey);
  }

  &-full {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;

    @media (max-width: breakpoints.$sm) {
      flex-direction: column;
      grid-column: auto;
      grid-row: 3 / -1;
    }

    @media (max-width: breakpoints.$xsm) {
      grid-column: 1 / -1;
      grid-row: auto;
    }

    &-initial {
      min-width: 320px;
      max-width: 320px;

      @media (max-width: breakpoints.$xsm) {
        min-width: auto;
        max-width: none;
      }
    }

    &-expanded {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      &-email {
        display: flex;
        gap: 8px;
        font-size: 14px;
        font-weight: bold;
        color: var(--primary);
        text-decoration: underline;

        &-at {
          margin-top: 2px;
        }
      }

      &-biography {
        flex: 1;
        font-size: 12px;
      }

      &-social {
        display: flex;
        gap: 15px;

        &-networks {
          display: flex;
          gap: 10px;
        }

        &-website {
          display: flex;
          gap: 5px;
          color: var(--primary);
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
  }
}
