@use "@/styles/breakpoints.scss" as breakpoints;

.forAuthorsSidebar {
  min-width: 265px;
  margin-top: 31px;

  @media (max-width: breakpoints.$sm) {
    display: none;
  }

  &-header {
    margin-bottom: 25px;

    &-title {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--grey-light);
      font-size: 16px;
      font-weight: bold;

      &-link {
        color: inherit;
        text-decoration: none;
        
        &:hover {
          color: var(--primary);
        }
      }

      &-text, &-caret {
        cursor: pointer;
      }
    }

    &-subheaders {
      display: flex;
      flex-direction: column;
      gap: 12px;
      color: var(--grey-light);

      &-subheader {
        cursor: pointer;
        
        &-link {
          color: inherit;
          text-decoration: none;
          
          &:hover {
            color: var(--primary);
          }
        }
      }
    }
  }
} 