@use '@/styles/breakpoints.scss';
.presentationSection {
  display: flex;
  gap: 18px;

  @media (max-width: breakpoints.$xsm) {
    flex-direction: column;
  }

  &-about {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid var(--grey);
    border-bottom: 4px solid var(--primary);
    flex-basis: 66.6%;

    &-content {
      font-size: 18px;
      flex: 1;

      p {
        margin: 16px 0px 16px 0px;
      }

      @media (max-width: breakpoints.$xsm) {
        font-size: 14px;
      }
    }

    &-seeMore {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      color: var(--grey);
      font-size: 16px;
      font-style: italic;

      &-icon {
        height: 11px;
      }

      @media (max-width: breakpoints.$xsm) {
        font-size: 12px;
      }
    }
  }

  &-new {
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid var(--grey);
    border-bottom: 4px solid var(--primary);
    flex-basis: 33.3%;

    &-title {
      display: flex;
      gap: 20px;
      font-size: 14px;
      border-bottom: 1px solid var(--grey-light);
      padding-bottom: 8px;
      margin-bottom: 10px;

      @media (max-width: breakpoints.$sm) {
        flex-direction: column;
        gap: 10px;
      }

      @media (max-width: breakpoints.$xsm) {
        flex-direction: row;
      }

      &-text {
        color: var(--primary);
        font-weight: 600;
      }
    }

    &-description {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 15px;
      flex: 1;
    }

    &-seeMore {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      color: var(--grey);
      font-size: 16px;
      font-style: italic;

      &-icon {
        height: 11px;
      }
    }
  }
}
