@use '@/styles/breakpoints.scss';

.volumesSidebar {
  min-width: 265px;
  margin-top: -30px;

  @media (max-width: breakpoints.$sm) {
    min-width: 215px;
  }

  @media (max-width: breakpoints.$xsm) {
    display: none;
  }

  &-typesSection-title,
  &-yearsSection-title {
    font-weight: bold;
    border-bottom: 1px solid var(--grey-light);
    padding-bottom: 8px;
  }

  &-typesSection {
    &-types {
      padding: 20px 0px 20px 0px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &-choice {
        display: flex;
        gap: 18px;

        &-label {
          cursor: pointer;

          &-checked {
            color: var(--black);
          }
        }
      }
    }
  }

  &-yearsSection {
    &-years {
      max-height: 180px;
      padding: 20px 0px 20px 0px;
      border-bottom: 1px solid var(--grey-light);

      &-list {
        max-height: 180px;
        overflow-y: scroll;

        &-year {
          margin-bottom: 10px;
          color: var(--grey);
          cursor: pointer;

          &-selected {
            color: var(--black);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
