@use '@/styles/breakpoints.scss';
.issuesSection {
  width: 100%;
  display: flex;
  gap: 16px;

  @media (max-width: breakpoints.$xsm) {
    flex-direction: column;
  }

  &-card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 24px;
    border: 1px solid var(--grey);
    border-bottom: 4px solid var(--primary);

    @media (max-width: breakpoints.$xsm) {
      width: auto;
    }

    &-tile {
      width: 120px;
      height: auto;
      object-fit: contain;
      align-self: flex-start;
    }

    &-template {
      min-width: 90px;
      max-width: 90px;
      display: flex;
      flex-direction: column;
      padding: 15px;
      background: var(--primary);
      color: var(--primary-text);

      &-jpe {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
      }

      &-volume {
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 4px;
      }

      &-issue {
        font-size: 12px;
        font-weight: 300;
        margin-bottom: 4px;
      }

      &-number {
        font-size: 50px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: end;
      }

      &-year {
        margin-top: auto;
        font-size: 12px;
        font-weight: 300;
        text-align: end;
      }
    }

    &-text {
      width: 100%;
      display: flex;
      flex-direction: column;

      &-volume {
        color: var(--primary);
        font-weight: 600;
        margin-bottom: 8px;
      }

      &-title {
        color: var(--black);
        font-weight: 600;
        margin-bottom: 8px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 3;
        -webkit-line-clamp: 3;
      }

      &-year {
        font-size: 13px;
        margin-bottom: 8px;
      }

      &-count {
        display: flex;
        gap: 8px;
        color: var(--grey);
        font-size: 13px;
      }

      &-download {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex: 1;
        gap: 8px;
        color: var(--primary);
        font-size: 13px;
      }
    }
  }
}
