@use '@/styles/breakpoints.scss' as breakpoints;

.statistics {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 35px;

    @media (max-width: breakpoints.$xsm) {
      flex-direction: column;
      align-items: flex-start;
      gap: 15px;
    }

    &-text {
      min-width: 265px;

      @media (max-width: breakpoints.$sm) {
        min-width: 215px;
      }
    }

    &-year {
      color: var(--primary-text);
      font-size: 30px;
      font-weight: bold;
      padding-left: 60px;

      @media (max-width: breakpoints.$xsm) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        padding-left: 0px;
      }

      &-filtersMobile {
        display: none;

        @media (max-width: breakpoints.$xsm) {
          display: block;
          padding-bottom: 4px;
          border-bottom: 1px solid var(--primary-border);
          cursor: pointer;
        }

        &-tile {
          @media (max-width: breakpoints.$xsm) {
            display: flex;
            gap: 4px;
            font-size: 14px;
          }
        }
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;

    &-results {
      display: flex;
      gap: 60px;
      margin-bottom: 150px;

      @media (max-width: breakpoints.$xsm) {
        margin-bottom: 0px;
      }

      &-cards {
        width: 100%;
        display: flex;
        flex-direction: column;

        &-row {
          display: flex;
          flex-direction: column;
          margin-bottom: 45px;

          @media (max-width: breakpoints.$xsm) {
            margin-bottom: 0px;
          }

          &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--primary-text);
            font-size: 22px;
            font-weight: bold;
            border-bottom: 1px solid var(--primary-border);
            padding-bottom: 8px;
            cursor: pointer;

            @media (max-width: breakpoints.$sm) {
              font-size: 16px;
            }

            &-caret {
              width: 14px;
            }
          }

          &-stats {
            display: none;

            &-active {
              display: flex;
              align-items: center;
              gap: 60px;
              padding: 16px 0px 16px 0px;
              margin: 0px 0px 0px 50px;

              @media (max-width: breakpoints.$sm) {
                flex-wrap: wrap;
                padding: 16px;
                gap: initial;
                margin: 0px;
              }
            }

            &-evaluation {
              justify-content: space-around;
              gap: initial;
            }

            &-row {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;

              @media (max-width: breakpoints.$sm) {
                align-self: flex-start;
                padding-bottom: 32px;
                flex: 33.3%;
              }

              &-stat {
                color: var(--primary-text);
                font-size: 60px;
                font-weight: bold;

                &-evaluation {
                  display: flex;
                  align-items: baseline;
                  gap: 4px;
                  font-size: 50px;
                }

                &-unit {
                  font-weight: normal;
                  font-size: 24px;

                  &-evaluation {
                    font-size: 14px;
                  }
                }
              }

              &-title {
                color: var(--black);
                font-size: 20px;
                font-weight: normal;

                @media (max-width: breakpoints.$xsm) {
                  font-size: 18px;
                }

                &-evaluation {
                  font-size: 14px;
                  max-width: 220px;
                  text-wrap: balance;

                  @media (max-width: breakpoints.$sm) {
                    max-width: 160px;
                  }

                  @media (max-width: breakpoints.$xsm) {
                    max-width: 150px;
                  }
                }
              }
            }

            &-divider {
              height: 110px;
              width: 1px;
              background: var(--grey-light);

              @media (max-width: breakpoints.$sm) {
                height: 90px;
              }

              &-evaluation {
                height: 70px;
              }

              &-glance,
              &-evaluation {
                &-second {
                  @media (max-width: breakpoints.$sm) {
                    display: none;
                  }
                }
              }
            }

            &-mobileLine {
              display: none;

              @media (max-width: breakpoints.$sm) {
                display: block;
                width: 100%;
                height: 1px;
                background: var(--grey-light);
              }
            }
          }
        }
      }
    }
  }
}
